*{
    margin: 0;
    padding: 0;
}
#roll_call{
    width: 100%;
    height: 1000px;
    border: 1px solid #1d9ce5;
    border-radius: 5px;
}
#roll_call .call_tittle{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
#roll_call .call_main{
    height: 920px;
    border-right: 1px solid #1d9ce5;
    padding-top: 30px;
}
#roll_call .call_main .left_down{
    padding: 5px;
}

#roll_call .call_main .left_down .row{
    width: 100%;
    height: 80px;
    text-align: center;
}

#roll_call .call_main .left_down .row a{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    text-align: center;
}

#roll_call .call_main .left_down .row a img{
    width: 35%;
    height: 70%;
}
#dm_time{
    width: 100%;
    height: 30%
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#dm_time #time_Show,
#dm_time #day_Show{
    width: 100%;
    height: 50%;
    padding-top:40px;
    font-weight: 600;
    text-align: center;
}
#dm_time #day_Show{
    top: 50%;
    font-size: 30px;
    padding-bottom: 40px
}
#dm_time #time_Show{
    font-size: 40px;
}
#dm_zrs{
    margin-top: 60px;
}
#dm_yd{
    margin-top: 160px;
    }
#dm_qq{
    margin-top: 260px;
}
#dm_zrs .col-md-3,
#dm_zrs .col-md-9,
#dm_yd .col-md-3,
#dm_yd .col-md-9,
#dm_qq .col-md-3,
#dm_qq .col-md-9{
    font-size: 20px;
    font-weight: 400;
}